.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  z-index: 1;
}

.sign-in-container h2,
.sign-in-container p {
  color: #9a31e4;
}

.sign-in-container h2 {
  font-size: 55px;
}

.sign-in-container p {
  font-size: 24px;
}
