.sing-in-form {
  flex-direction: column;
  margin-top: 30px;
}

.sing-in-form input[name="password"]{
  margin: auto;
}

.sing-in-form button {
  margin-top: 30px;
  font-weight: normal;
}

.sing-in-form .button-container {
  display: flex;
  justify-content: center;
}

.error {
  position: absolute;
  text-align: center;
  margin-top: 40px;
  margin-left: 110px;
  color: #FFF;
  background-color: #CA5151;
  border-radius: 12px;
  font-size: 14px;
  padding: 3px 8px 3px 8px;
  opacity: 0.9;
}
