.sing-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sing-up-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.sing-up-container h2,
.sing-up-container p {
  color: #9a31e4;
}

.sing-up-container h2 {
  font-size: 55px;
}

.sing-up-container p {
  font-size: 24px;
}
