.sing-up-form {
  flex-direction: column;
  margin-top: 20px;
}

.sing-up-form label {
  color: #fbeaeb;
  margin-bottom: 5px;
  font-size: 14px;
}

.sing-up-form input {
  margin-bottom: -10px;
  padding: 17px;
}

.sing-up-form button {
  margin-top: 30px;
  font-weight: normal;
}

.container-button {
  display: flex;
  justify-content: center;
}

.name-surname-container {
  display: flex;
  justify-content: space-between;
}

.name-surname-container input {
  width: 150px;
}

.name-surname-container label {
  color: #9a31e4;
}
