.sing-up-form {
  flex-direction: column;
  margin-top: 20px;
}

.sing-up-form .p {
  font-size: 14px;
  color: #fbeaeb;
}

.sing-up-form .p a {
  font-weight: bold;
  color: #fbeaeb;
  text-decoration-color: #fbeaeb;
}

.sing-up-form label {
  color: #fbeaeb;
  margin-bottom: 5px;
  font-size: 14px;
}

.sing-up-form input {
  margin-bottom:  -10px;
  padding: 17px;
}

.name-surname-container {
  display: flex;
  justify-content: space-between;
}

.name-surname-container input {
  width: 150px;
}

.sing-up-form button {
  margin-top: 30px;
  font-weight: normal;
}

.container-button {
  display: flex;
  justify-content: center;
}

.name-surname-container label  {
    color: #9a31e4;
}

.sing-up-form span {
    margin-top: 12px;
    font-size: 12px;
} 
