.container-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  outline: none;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
}

.input:focus {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.error {
  color: #FFF;
  background-color: #CA5151;
  border-radius: 12px;
  font-size: 14px;
  padding: 3px 8px 3px 8px;
  margin-left: 12px;
  opacity: 0.9;
}
