.layout {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fbeaeb;
}

.onboarding {
  background-image: url('../assets//background-onboarding.svg');
}

.sing-in {
  background-image: url('../assets/background-singin.svg');
}

.sing-up {
  background-image: url('../assets/background-singup.svg');
}

.terms-conditions {
  background-image: url('../assets/background-terms-conditions.svg');
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
